---
layout: page
permalink: /dich-vu-website/thiet-ke-website/
title: Thiết Kế Website
keywords: [
web,
Website,
thiết kế web,
thiết kế website,
làm web,
làm trang web,
thiết kế web chuẩn seo,
công ty thiết kế website,
thiết kế website chuyên nghiệp,
tạo web,
tạo website bán hàng chuyên ngiệp,
website giá rẻ,
giá thiết kế website,]
countdown: 2021/07/24 00:00:00
countdown-check: 1
---

<section
  id="page-title"
  data-bg-parallax="{{ site.baseurl }}/assets/images/slider/dich-vu-website.svg"
>
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="page-title">
      <h1 class="text-uppercase text-medium">{{ page.title }}</h1>
      <div class="breadcrumb">
        <ul>
          <li><a href='{{ "/" | relative_url }}'>Trang chủ</a></li>
          <li class="active">
            <a href="{{ site.baseurl }}{{ page.permalink }}"
              >{{ page.title }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Price -->
<section class="">
  <div class="container">
    <div class="row d-flex align-items-center" data-animate="fadeInUp">
      <div class="col-lg-12 text-center">
        <div class="heading-text heading-section text-center m-b-100">
          <h2>Bảng giá Website trọn gói</h2>
          <span class="lead"
            >NamGD.com cung cấp dịch vụ Thiết kế Website trọn gói với giao diện
            đẹp, độc đáo, sáng tạo. Hệ thống tính năng website đầy đủ, mang tính
            ứng dụng cao và phù hợp với từng cá nhân, doanh nghiệp.Với mục tiêu
            cung cấp nhiều gói sản phẩm phong phú về mẫu mã và các tính năng
            linh hoạt cho nhiều loại hình Website như giới thiệu công ty, bán
            hàng, trang tin tức, thương mại điện tử… cùng với kho giao diện
            phong phú đã được NamGD.com lọc chọn và đúc kết nhằm giới thiệu tới
            khách hàng với mong muốn có một Website nhanh, đẹp, hiệu quả và giá
            cả hợp lý.</span
          >
        </div>
      </div>
    </div>
    <div class="row pricing-table" data-animate="fadeInUp">
      <div class="col-lg-4 col-md-12 col-12">
        <div class="plan">
          <div class="plan-header">
            <h4>BASIC</h4>
            <p class="text-muted">Đăng ký 3 năm tặng 2 năm</p>
            <div class="plan-price">2,5 <span>triệu/năm</span></div>
            {%if page.countdown-check == 1 %}
            <div
              class="countdown small"
              data-countdown="{{ page.countdown }}"
            ></div>
            {%endif %}
          </div>
          <div class="plan-list">
            <ul>
              <li><i class="fa fa-desktop"></i>Giao diện mẫu</li>
              <li><i class="fa fa-thumbs-up"></i>Dung Lượng: 2GB</li>
              <li><i class="fa fa-signal"></i>Không giới hạn băng thông</li>
              <li><i class="fa fa-user"></i>Bộ quản trị mới nhất</li>
              <li><i class="fa fa-shield-alt"></i>Đã có chứng chỉ SSL</li>
              <li><i class="fa fa-server"></i>Đã có hosting</li>
              <li><i class="fa fa-users-cog"></i>Hỗ trợ 24/7</li>
            </ul>
            <div class="plan-button">
              <a
                href="https://www.messenger.com/t/namgd.ltd"
                target="_blank"
                class="btn btn-light"
                >Mua Ngay</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-12">
        <div class="plan featured">
          <div class="plan-header">
            <h4>PROFESSIONAL</h4>
            <p class="text-muted">Đăng ký 3 năm tặng 2 năm</p>
            <div class="plan-price">3,5 <span>triệu/năm</span></div>
            {%if page.countdown-check == 1 %}
            <div
              class="countdown small"
              data-countdown="{{ page.countdown }}"
            ></div>
            {%endif %}
          </div>
          <div class="plan-list">
            <ul>
              <li><i class="fa fa-desktop"></i>Giao diện mẫu</li>
              <li><i class="fa fa-thumbs-up"></i>Dung Lượng: 5GB</li>
              <li><i class="fa fa-signal"></i>Không giới hạn băng thông</li>
              <li><i class="fa fa-user"></i>Bộ quản trị mới nhất</li>
              <li><i class="fa fa-shield-alt"></i>Đã có chứng chỉ SSL</li>
              <li><i class="fa fa-server"></i>Đã có hosting</li>
              <li><i class="fa fa-users-cog"></i>Hỗ trợ 24/7</li>
            </ul>
            <div class="plan-button">
              <a
                href="https://www.messenger.com/t/namgd.ltd"
                target="_blank"
                class="btn"
                >Mua Ngay</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-12">
        <div class="plan">
          <div class="plan-header">
            <h4>VIP</h4>
            <p class="text-muted">Đăng ký 3 năm tặng 2 năm</p>
            <div class="plan-price">6 <span>triệu/năm</span></div>
            {%if page.countdown-check == 1 %}
            <div
              class="countdown small"
              data-countdown="{{ page.countdown }}"
            ></div>
            {%endif %}
          </div>
          <div class="plan-list">
            <ul>
              <li><i class="fa fa-desktop"></i>Giao diện theo yêu cầu</li>
              <li><i class="fa fa-thumbs-up"></i>Dung Lượng: 15GB</li>
              <li><i class="fa fa-signal"></i>Không giới hạn băng thông</li>
              <li><i class="fa fa-user"></i>Bộ quản trị mới nhất</li>
              <li><i class="fa fa-shield-alt"></i>Đã có chứng chỉ SSL</li>
              <li><i class="fa fa-server"></i>Đã có hosting</li>
              <li><i class="fa fa-users-cog"></i>Hỗ trợ 24/7</li>
            </ul>
            <div class="plan-button">
              <a
                href="https://www.messenger.com/t/namgd.ltd"
                target="_blank"
                class="btn btn-light"
                >Mua Ngay</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Price -->

<!-- So sánh tính năng -->
<section class="">
  <div class="container">
    <div class="row d-flex align-items-center" data-animate="fadeInUp">
      <div class="col-lg-12 text-center">
        <div class="heading-text heading-section text-center m-b-40">
          <h2>Bảng so sánh tính năng trong website trọn gói</h2>
        </div>
      </div>
    </div>
    <div class="row pricing-table" data-animate="fadeInUp">
      <div class="col-lg-12">
        <table class="table table-bordered table-price table-fixed">
          <thead class="">
            <tr>
              <th scope="col"></th>
              <th scope="col">BASIC</th>
              <th scope="col">PROFESSIONAL</th>
              <th scope="col">ENTERPRISE</th>
            </tr>
          </thead>
          <tbody>
            <tr class="tr-main">
              <th colspan="5">THÔNG TIN CƠ BẢN</th>
            </tr>
            <tr>
              <th scope="row">Tên miền quốc tế .com, .net</th>
              <td><i class="icon-x"></i></td>
              <td>Tặng 1 năm</td>
              <td>Tặng 1 năm</td>
            </tr>
            <tr>
              <th scope="row">Bảo mật SSL</th>
              <td><i class="icon-x"></i></td>
              <td>1 năm</td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Email theo tên miền</th>
              <td>
                <i class="icon-x"></i>
              </td>
              <td>
                5 email
              </td>
              <td>
                20 email
              </td>
            </tr>
            <tr>
              <th scope="row">Thiết kế banner lần đầu</th>
              <td>1 banner</td>
              <td>2 banner</td>
              <td>5 banner</td>
            </tr>
            <tr>
              <th scope="row">Nhập liệu lần đầu tiên(Max)</th>
              <td>20 sản phẩm</td>
              <td>30 sản phẩm</td>
              <td>40 sản phẩm</td>
            </tr>
            <tr>
              <th scope="row">Số lượng sản phẩm</th>
              <td>Không giới hạn</td>
              <td>Không giới hạn</td>
              <td>Không giới hạn</td>
            </tr>
            <tr>
              <th scope="row">Bài viết</th>
              <td>Không giới hạn</td>
              <td>Không giới hạn</td>
              <td>Không giới hạn</td>
            </tr>
            <tr>
              <th scope="row">Băng thông</th>
              <td>Không giới hạn</td>
              <td>Không giới hạn</td>
              <td>Không giới hạn</td>
            </tr>
            <tr>
              <th scope="row">Dung lượng</th>
              <td>2GB</td>
              <td>5GB</td>
              <td>15GB</td>
            </tr>
            <tr>
              <th scope="row">Tên miền riêng</th>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Tương thích mọi thiết bị</th>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr class="tr-main">
              <th colspan="5">QUẢN TRỊ CHUNG</th>
            </tr>
            <tr>
              <th scope="row" class="cl-main-u">Tùy chỉnh menu</th>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Tùy chỉnh bố cục trang</th>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Ẩn bản quyền Nhân Hòa</th>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Ngôn ngữ</th>
              <td><span class="d-block"> Tiếng Việt </span></td>
              <td><span class="d-block"> Tiếng Việt/Tiếng Anh </span></td>
              <td><span class="d-block"> Tiếng Việt/Tiếng Anh </span></td>
            </tr>
            <tr>
              <th scope="row">Cấu hình SEO, Chia sẻ MXH</th>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr id="th-cong-tt">
              <th scope="row">GG Analytics, GG Tag Manager, ..</th>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Nhúng Live chat, Facebook chat</th>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">
                Tích hơp cổng thanh toán : VNPay, VTCPay, OnePay, PayPal, MoMo
              </th>
              <td>100.000đ/cổng</td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr class="tr-main">
              <th scope="row" class="cl-main-u" colspan="5">
                QUẢN LÝ BÁN HÀNG CƠ BẢN (CHI TIẾT TÍNH NĂNG)
              </th>
            </tr>
            <tr>
              <th scope="row">Phần mềm quán lý bán hàng</th>
              <td><i class="icon-x"></i></td>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Quản lý đơn hàng</th>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Quản lý kho hàng</th>
              <td><i class="icon-x"></i></td>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Quản lý khách hàng</th>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Quản lý nhân viên</th>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Quản lý sổ quỹ/thu chi</th>
              <td><i class="icon-x"></i></td>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Quản lý thuế</th>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Quản lý giao hàng</th>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Quản lý nhà cung cấp</th>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row" class="cl-main-u">Quản lý chuỗi cửa hàng</th>
              <td><i class="icon-x"></i></td>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row" class="cl-main-u">Báo cáo doanh thu</th>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr class="tr-main">
              <th scope="row" class="cl-main-u" colspan="5">
                BÁO CÁO BÁN HÀNG NÂNG CAO (CHI TIẾT TÍNH NĂNG)
              </th>
            </tr>
            <tr>
              <th scope="row">Báo cáo bán hàng theo kênh</th>
              <td><i class="icon-x"></i></td>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Báo cáo bán hàng theo chu kỳ kinh doanh</th>
              <td><i class="icon-x"></i></td>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Báo cáo bán hàng theo từng chi nhánh</th>
              <td><i class="icon-x"></i></td>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Báo cáo bán hàng theo từng nhân viên</th>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Báo cáo xuất - nhập - tồn kho</th>
              <td><i class="icon-x"></i></td>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Báo cáo công nợ, dòng tiền</th>
              <td><i class="icon-x"></i></td>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Báo cáo tài chính, lãi lỗ</th>
              <td><i class="icon-x"></i></td>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Báo cáo giao hàng</th>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Báo cáo trả hàng</th>
              <td><i class="icon-x"></i></td>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr class="tr-main">
              <th colspan="5">KẾ TOÁN</th>
            </tr>
            <tr>
              <th scope="row">Quản lý thu - chi</th>
              <td><i class="icon-x"></i></td>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Quản lý công nợ</th>
              <td><i class="icon-x"></i></td>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr class="tr-main">
              <th colspan="5">KHO HÀNG</th>
            </tr>
            <tr>
              <th scope="row">Nhập hàng, trả hàng nhà cung cấp</th>
              <td><i class="icon-x"></i></td>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Kiểm kho</th>
              <td><i class="icon-x"></i></td>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Lịch sử sửa, xóa phiếu</th>
              <td><i class="icon-x"></i></td>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Điều chuyển hàng giữa các kho trong chuỗi</th>
              <td><i class="icon-x"></i></td>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Check hàng tồn giữa các cửa hàng</th>
              <td><i class="icon-x"></i></td>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Phiếu yêu cầu xuất nhập kho</th>
              <td><i class="icon-x"></i></td>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Hạn mức tồn kho và dự báo nhập hàng</th>
              <td><i class="icon-x"></i></td>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Tạo gói sản phẩm</th>
              <td><i class="icon-x"></i></td>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr class="tr-main">
              <th colspan="5">KHUYẾN MÃI</th>
            </tr>
            <tr>
              <th scope="row">Tích điểm cho khách hàng</th>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Coupon giảm giá</th>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Chương trình khuyến mãi</th>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr class="tr-main">
              <th colspan="5">BÁN HÀNG TẠI CỬA HÀNG (CHI TIẾT TÍNH NĂNG)</th>
            </tr>
            <tr>
              <th scope="row">Bán hàng, trả hàng bằng đầu đọc mã vạch</th>
              <td><i class="icon-x"></i></td>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">
                Lưu thông tin khách hàng, xem lịch sử mua hàng
              </th>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">
                Tính doanh số cho nhân viên bán hàng và kỹ thuật
              </th>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">
                Tự động chiết khấu theo các chương trình khuyến mãi
              </th>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Báo cáo, xử lý nhanh đơn hàng</th>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr>
              <th scope="row">Hóa đơn nháp ở trang bán lẻ</th>
              <td><i class="icon-x"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
              <td><i class="fa fa-check-circle"></i></td>
            </tr>
            <tr class="tr-main">
              <th colspan="5">TÍNH NĂNG THÊM</th>
            </tr>
            <tr>
              <td colspan="3" scope="row" class="cl-main-u text-left">
                Tạo form theo yêu cầu
              </td>
              <td>500.000 VNĐ</td>
            </tr>
            <tr>
              <td colspan="3" scope="row" class="cl-main-u text-left">
                Thiết kế thêm baner ngoài gói dịch vụ
              </td>
              <td>200.000 VNĐ/Banner</td>
            </tr>
            <tr>
              <td colspan="3" scope="row" class="cl-main-u text-left">
                Thiết kế giao diện mới hoàn toàn
              </td>
              <td>1.000.000 - 5.000.000 VNĐ</td>
            </tr>
            <tr>
              <td colspan="3" scope="row" class="cl-main-u text-left">
                Nâng cấp phiên bản
              </td>
              <td>1.500.000 - 2.000.000 VNĐ</td>
            </tr>
            <tr>
              <td colspan="3" scope="row" class="cl-main-u text-left">
                Convert dữ liệu từ bản cũ lên
              </td>
              <td>200.000/10Mb</td>
            </tr>
            <tr>
              <td colspan="3" scope="row" class="cl-main-u text-left">
                Làm landing page
              </td>
              <td>800.000 - 1.800.000 VNĐ</td>
            </tr>
            <tr>
              <td colspan="3" scope="row" class="cl-main-u text-left">
                Tìm kiếm thông minh
              </td>
              <td>2.000.000 VNĐ</td>
            </tr>
            <tr>
              <td colspan="3" scope="row" class="cl-main-u text-left">
                Thêm chức năng tải video bìa cho từng danh mục sản phẩm
              </td>
              <td>1.000.000 VNĐ</td>
            </tr>
            <tr>
              <td colspan="3" scope="row" class="cl-main-u text-left">
                Tích hợp thêm cổng thanh toán ngoài gói.
              </td>
              <td>1.500.000 - 3.000.000 VNĐ</td>
            </tr>
            <tr>
              <td colspan="3" scope="row" class="cl-main-u text-left">
                Cấu hình cổng thanh toán thêm ngoài hợp đồng
              </td>
              <td>Thỏa thuận</td>
            </tr>
            <tr>
              <td colspan="3" scope="row" class="cl-main-u text-left">
                Thiết kế trang con
              </td>
              <td>800.000 - 2.000.000 VNĐ</td>
            </tr>
            <tr>
              <td colspan="3" scope="row" class="cl-main-u text-left">
                Cấu hình Thêm modul giao diện trong hệ thống chưa có sẵn
              </td>
              <td>500.000 VNĐ</td>
            </tr>
            <tr>
              <td colspan="3" scope="row" class="cl-main-u text-left">
                Custom danh mục sản phẩm
              </td>
              <td>500.000 VNĐ</td>
            </tr>
            <tr>
              <td colspan="3" scope="row" class="cl-main-u text-left">
                Custom chức năng abum ảnh
              </td>
              <td>1.000.000 VNĐ</td>
            </tr>
            <tr>
              <td colspan="3" scope="row" class="cl-main-u text-left">
                Thiết kế template trước theo yêu cầu
              </td>
              <td>1.000.000 - 3.000.000 VNĐ</td>
            </tr>
            <tr>
              <td colspan="3" scope="row" class="cl-main-u text-left">
                Nhận up sản phẩm cho khách hàng
              </td>
              <td>5.000 VNĐ/1 sản phẩm</td>
            </tr>
            <tr>
              <td colspan="3" scope="row" class="cl-main-u text-left">
                Cấu hình thêm một ngôn ngữ
              </td>
              <td>1.500.000 - 2.000.000 VNĐ/1 ngôn ngữ</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- End So sánh tính năng -->
