<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    href="{{ site.baseurl }}/assets/images/favicon.png"
    type="image/x-icon"
    rel="icon"
  />
  {%- seo -%}
  <meta name="keywords" content="{{ site.keywords | join: ', ' | escape }}" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet"
  />
  <!-- <link href='{{ "/assets/css/plugins.css" | relative_url }}' rel="stylesheet"> -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link href='{{ "/assets/css/style.css" | relative_url }}' rel="stylesheet" />

  {%- feed_meta -%}
</head>
