<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    href="{{ site.baseurl }}/assets/images/favicon.png"
    type="image/x-icon"
    rel="icon"
  />
  {%- seo -%} {%if page.keywords %}
  <meta name="keywords" content="{{ page.keywords | join: ', ' | escape }}" />
  {% else %}
  <meta name="keywords" content="{{ site.keywords | join: ', ' | escape }}" />
  {%endif %}

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet"
    media="all"
  />
  <link
    href='{{ "/assets/css/plugins-format.css" | relative_url }}'
    rel="stylesheet"
    media="all"
  />
  <link
    href='{{ "/assets/css/style.css" | relative_url }}'
    rel="stylesheet"
    media="all"
  />

  {%- feed_meta -%}
</head>
