---
layout: default
---

<!-- Slide home -->
<div
  id="slider"
  class="inspiro-slider slider-fullscreen dots-creative"
  data-fade="true"
>
  {% for item in site.data.slide_main.slidemain %} {% for slide in item.slides
  %}
  <div
    title="{{ slide.title | escape }}"
    class="slide kenburns"
    data-bg-image="{{ site.baseurl }}/assets/images/slider/{{ slide.image | escape }}"
  >
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="slide-captions text-center text-light">
        <h1 title="{{ slide.title | escape }}">{{ slide.title | escape }}</h1>
        <p>{{ slide.description | escape }}</p>
        <div>
          <a href="{{ slide.url | relative_url }}" class="btn btn-ct-black"
            >Xem Chi Tiết</a
          >
        </div>
      </div>
    </div>
  </div>
  {% endfor %} {% endfor %}
</div>
<!-- End slide home -->

<!-- Section Welcome -->
<section id="welcome" class="p-b-0">
  <div class="container">
    <div class="row d-flex align-items-center" data-animate="fadeInUp">
      <div class="col-lg-6 text-center">
        <div
          class="heading-text heading-section text-center m-b-40"
          data-animate="fadeInUp"
        >
          <h2>CHÀO MỪNG BẠN ĐẾN VỚI NAMGD.COM</h2>
          <span class="lead"
            >NamGD.com đem lại cho khách hàng những giải pháp thương hiệu hoàn
            hảo, những sản phẩm thiết kế đầy ấn tượng, mang lại sức hút và cái
            nhìn toàn diện về lĩnh vực mà các doanh nghiệp đang hướng tới. Chúng
            tôi cam kết đem lại lợi ích tối đa và hỗ trợ nhiệt tình cho khách
            hàng.</span
          >
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <video loop autoplay muted>
          <source
            src="{{ site.baseurl }}/assets/images/home/website.webm"
            preload="none"
          />
        </video>
      </div>
    </div>
  </div>
</section>
<!-- End Section Welcome -->

<!-- DỊCH VỤ -->
<section class="box-fancy section-fullwidth p-b-0">
  <div class="heading-text heading-section text-center" data-animate="fadeInUp">
    <h2>DỊCH VỤ</h2>
    <p>Dưới đây là những dịch vụ chính mà chúng tôi cung cấp.</p>
  </div>
  <div class="row text-light" data-animate="fadeInUp">
    <div
      class="col-lg-3 text-center service__box"
      style="background-color: #e96060"
    >
      <a href="{{ site.baseurl }}/dich-vu-thiet-ke/">
        <div>
          <img
            src="{{ site.baseurl }}/assets/images/home/bg-thumb.svg"
            width="192px"
            height="108px"
            data-src="{{ site.baseurl }}/assets/images/home/service-1.png"
            alt="DỊCH VỤ THIẾT KẾ"
            class="lazyload"
          />
          <h3>DỊCH VỤ THIẾT KẾ</h3>
        </div>
      </a>
    </div>
    <div
      class="col-lg-3 text-center service__box"
      style="background-color: #f3b15a"
    >
      <a href="{{ site.baseurl }}/dich-vu-website/">
        <div>
          <img
            src="{{ site.baseurl }}/assets/images/home/bg-thumb.svg"
            width="192px"
            height="108px"
            data-src="{{ site.baseurl }}/assets/images/home/service-2.png"
            alt="DỊCH VỤ WEBSITE"
            class="lazyload"
          />
          <h3>DỊCH VỤ WEBSITE</h3>
        </div>
      </a>
    </div>
    <div
      class="col-lg-3 text-center service__box"
      style="background-color: #e96060"
    >
      <a href="{{ site.baseurl }}/dich-vu-video/">
        <div>
          <img
            src="{{ site.baseurl }}/assets/images/home/bg-thumb.svg"
            width="192px"
            height="108px"
            data-src="{{ site.baseurl }}/assets/images/home/service-3.png"
            alt="DỊCH VỤ VIDEO"
            class="lazyload"
          />
          <h3>DỊCH VỤ VIDEO</h3>
        </div>
      </a>
    </div>
    <div
      class="col-lg-3 text-center service__box"
      style="background-color: #f3b15a"
    >
      <a href="{{ site.baseurl }}/dich-vu-3d-model/">
        <div>
          <img
            src="{{ site.baseurl }}/assets/images/home/bg-thumb.svg"
            width="192px"
            height="108px"
            data-src="{{ site.baseurl }}/assets/images/home/service-4.png"
            alt="DỊCH VỤ 3D MODEL"
            class="lazyload"
          />
          <h3>DỊCH VỤ 3D MODEL</h3>
        </div>
      </a>
    </div>
  </div>
</section>
<!-- End DỊCH VỤ -->

<!-- Why Choose -->
<section>
  <div class="container">
    <div
      class="heading-text heading-section text-center"
      data-animate="fadeInUp"
    >
      <h2>VÌ SAO NÊN CHỌN CHÚNG TÔI?</h2>
      <p>
        Đến với dịch vụ thiết kế website tại NamGD.com, doanh nghiệp sẽ được
        cung cấp một dịch vụ chuyên nghiệp và tận tâm.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4" data-animate="fadeInUp">
        <div class="icon-box effect medium border small">
          <div class="icon">
            <span><i class="fa fa-clock"></i></span>
          </div>
          <h3>Tiết kiệm thời gian</h3>
          <p>
            Chúng tôi hỗ trợ bạn nhập dữ liệu lần đầu, thiết kế banner và quản
            lý website hoạt động xuyên suốt. Bạn có thể kiểm soát mọi thứ tại
            website nhanh chóng và dành thời gian để phát triển kinh doanh.
          </p>
        </div>
      </div>
      <div class="col-lg-4" data-animate="fadeInUp">
        <div class="icon-box effect medium border small">
          <div class="icon">
            <span><i class="fa fa-credit-card"></i></span>
          </div>
          <h3>Tiết kiệm chi phí</h3>
          <p>
            Với một mức giá vô cùng hạt dẻ, bạn đã có thể sở hữu website với đầy
            đủ chức năng cần thiết. Ngoài ra bạn không còn cần tốn quá nhiều chi
            phí khi phải thuê nhân viên thiết kế hoặc nhân viên quản lí website
            vì tất cả đã có chúng tôi hỗ trợ.
          </p>
        </div>
      </div>
      <div class="col-lg-4" data-animate="fadeInUp">
        <div class="icon-box effect medium border small">
          <div class="icon">
            <span><i class="fa fa-check"></i></span>
          </div>
          <h3>Trở nên chuyên nghiệp</h3>
          <p>
            Việc sở hữu website sẽ giúp doanh nghiệp hoặc cá nhân của bạn gia
            tăng uy tín lên rất nhiều. Website cũng chính là gương mặt thương
            hiệu, một website chuyên nghiệp sẽ khẳng định vị thế của bạn với đối
            tác và khách hàng.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Why Choose -->

<!-- portfolio -->
<section class="p-t-0">
  <div class="container">
    <div
      class="heading-text heading-section text-center"
      data-animate="fadeInUp"
    >
      <h2>SẢN PHẨM ĐÃ THỰC HIỆN</h2>
      <span class="lead">
        Dưới đây là một số sản phẩm đã thực hiện của chúng tôi, bạn có thể vào
        chi tiết từng dịch vụ để xem thêm những sản phẩm khác.
      </span>
    </div>
  </div>
  <div class="portfolio" data-animate="fadeInUp">
    <div id="portfolio" class="grid-layout portfolio-4-columns">
      {% for item in site.data.portfolio.portfolio %} {% for por in
      item.portfolio-list %}
      <div class="portfolio-item img-zoom ct-photography ct-marketing ct-media">
        <div class="portfolio-item-wrap">
          <div class="portfolio-image">
            <a
              ><img
                src="{{ site.baseurl }}/assets/images/portfolio/thumb/bg-thumb.svg"
                width="375px"
                height="250px"
                data-src="{{ site.baseurl }}/assets/images/portfolio/thumb/{{ por.image | escape }}"
                alt="{{ por.title | escape }}"
                class="lazyload"
                title="{{ por.title | escape }}"
            /></a>
          </div>
          <div class="portfolio-description">
            <a
              title="{{ por.title | escape }}"
              data-lightbox="image"
              href="{{ site.baseurl }}/assets/images/portfolio/{{ por.image | escape }}"
            >
              <i class="icon-maximize"></i>
            </a>
          </div>
        </div>
      </div>
      {% endfor %} {% endfor %}
    </div>
  </div>
</section>
<!-- End portfolio -->

<!-- parallax -->
<section
  id="section3"
  class="p-t-100 p-b-100"
  data-bg-parallax="{{ site.baseurl }}/assets/images/parallax.webp"
  data-animate="fadeInUp"
>
  <div class="container xs-text-center sm-text-center text-light">
    <div class="row">
      <div class="col-lg-3">
        <div class="text-center">
          <div class="counter text-lg">
            <span
              data-speed="1000"
              data-refresh-interval="20"
              data-to="250"
              data-from="0"
              data-seperator="true"
            ></span>
          </div>
          <div class="seperator seperator-small"></div>
          <p>Dự án</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="text-center">
          <div class="counter text-lg">
            <span
              data-speed="100"
              data-refresh-interval="1"
              data-to="3"
              data-from="0"
              data-seperator="true"
            ></span>
          </div>
          <div class="seperator seperator-small"></div>
          <p>Năm kinh nghiệm</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="text-center">
          <div class="counter text-lg">
            <span
              data-speed="1000"
              data-refresh-interval="12"
              data-to="2000"
              data-from="50"
              data-seperator="true"
            ></span>
          </div>
          <div class="seperator seperator-small"></div>
          <p>Sản phẩm</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="text-center">
          <div class="counter text-lg">
            <span
              data-speed="1000"
              data-refresh-interval="15"
              data-to="1000"
              data-from="40"
              data-seperator="true"
            ></span>
          </div>
          <div class="seperator seperator-small"></div>
          <p>Mẫu giao diện</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End parallax -->

<!-- clients -->
<section class="p-t-60">
  <div class="container" data-animate="fadeInUp">
    <div class="heading-text heading-section text-center">
      <h2>ĐỐI TÁC – KHÁCH HÀNG CỦA NAMGD.COM</h2>
      <span class="lead"
        >Hơn 100 doanh nghiệp đã tin tưởng ủng hộ chúng tôi, tuy nhiên, chúng
        tôi chỉ xin phép giới thiệu một số khách hàng tiêu biểu dưới đây.
      </span>
    </div>
    <div
      class="carousel client-logos"
      data-items="6"
      data-items-sm="4"
      data-items-xs="3"
      data-items-xxs="2"
      data-margin="20"
      data-arrows="false"
      data-autoplay="true"
      data-autoplay="3000"
      data-loop="true"
    >
      <div>
        <span
          ><img alt="" src="{{ site.baseurl }}/assets/images/clients/1.png" />
        </span>
      </div>
      <div>
        <span
          ><img alt="" src="{{ site.baseurl }}/assets/images/clients/2.png" />
        </span>
      </div>
      <div>
        <span
          ><img alt="" src="{{ site.baseurl }}/assets/images/clients/3.png" />
        </span>
      </div>
      <div>
        <span
          ><img alt="" src="{{ site.baseurl }}/assets/images/clients/4.png" />
        </span>
      </div>
      <div>
        <span
          ><img alt="" src="{{ site.baseurl }}/assets/images/clients/5.png" />
        </span>
      </div>
      <div>
        <span
          ><img alt="" src="{{ site.baseurl }}/assets/images/clients/6.png" />
        </span>
      </div>
      <div>
        <span
          ><img alt="" src="{{ site.baseurl }}/assets/images/clients/7.png" />
        </span>
      </div>
      <div>
        <span
          ><img alt="" src="{{ site.baseurl }}/assets/images/clients/8.png" />
        </span>
      </div>
      <div>
        <span
          ><img alt="" src="{{ site.baseurl }}/assets/images/clients/9.png" />
        </span>
      </div>
    </div>
  </div>
</section>
<!-- End clients -->
